<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <script src="http://kartograph.org/js/jquery.min.js"></script>
    <script src="http://kartograph.org/js/raphael.min.js"></script>
    <script src="http://kartograph.org/js/kartograph.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="http://kartograph.org/js/chroma.min.js"></script>
    <script src="http://kartograph.org/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://kartograph.org/showcase/panzoom/raphael.pan-zoom.min.js"></script>

    <title>Tryin, tryin</title>
</head>


<body>
	
	<div style="height:500px;width:500px">
		{% include "kartograph-test.html" %}
	</div>


</body>





















</html>