body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #f5f5f5;
}

input[type=submit] {
	cursor: pointer;
	padding:5px 15px;
	border: 2px solid #21205F;
	background-color: #f2f2f2;
	text-align: center;
	display: block;
    vertical-align: top;
}

button.back-btn {
    cursor: pointer;
    padding:5px 15px;
    border: 2px solid #21205F;
    background-color: #f2f2f2;
    text-align: center;
    display: block;
    vertical-align: top;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #21205F;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.output-button-bar {
    background-color: #21205F;
    width: 100%;
}

.output-button-bar button {
    display: inline;
}
