/* custom CSS for jgraph.html */
body {
  background: background: url("../landing_background.svg") no-repeat center center fixed; /* For browsers that do not support gradients */
  background: background: url("../landing_background.svg") no-repeat center center fixed; /* For Safari 5.1 to 6.0 */
  background: background: url("../landing_background.svg") no-repeat center center fixed; /* For Opera 11.1 to 12.0 */
  background: background: url("../landing_background.svg") no-repeat center center fixed; /* For Firefox 3.6 to 15 */
  background: background: url("../landing_background.svg") no-repeat center center fixed; /* Standard syntax */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
* {
 font-size: 100%;
 font-family: Segoe UI;
}
