textarea {
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

body {
    background-color: #f5f5f5;
    font-family: Verdana, Geneva, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #21205F;
}

/*
li {
    float: left;
}
*/

li a, .dropbtn {
    display: inline-block;
    color: white; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.output-button-bar {
    background-color: #21205F;
}

.output-button-bar button {
    display: inline;
}

.btn-hide {
    background-color: white;
    border: 1px solid #21205F;
    border-radius: 3px
}

.btn-show {
    background-color: white;
    border: 1px solid #21205F;
    border-radius: 3px
}

.btn-close {
    background-color: white;
    border: 1px solid #21205F;
    border-radius: 3px
}

.output-window {
    border: 2px solid #000;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: inline-block;
    width: 40%;
    padding: 10px;
    resize: both;
    overflow: auto;
    vertical-align: top;
}

.output {
    background-color: #f9f9f9;
}

#banner {
    width: 100%;
}

path {fill: lightgray; stroke: white; z-index: 1;}
path:hover {fill: black; z-index: 1;}
div.tooltip {
    z-index: 10;
    position: absolute;
    text-align: center;
    width: 250px;
    height: 200px;
    padding: 2px;
    font: 40px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
input.year {
    width: 50%;
}
label.range {
    font: 40px sans-serif;
}
