textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0px solid #21205F;
    font-size: 16px;
    resize: none;
    display: inline;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    margin: 0px 20px;

}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    font-family: Segoe UI;
    background: url("../landing_background.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapperul{
	width:100%;
	position: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: rgba(69,90,100,.8);
	border-radius: 5px;
	text-align: left;
	width: 60;
  height: 75px;
	align-self:center;
}

li b, .dropdown-img {
  height: 100%;
  padding: 20px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

.dropdown:hover {
    background-color: #2B68A0;
    cursor: pointer;
}

.dropdown {
    font-family: "Segoe UI";
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    /*width: 16px;
    height: 14px;*/
    text-decoration: none;
    z-index: 2;
}
.dropdown-content {
  color: #2B68A0;
}

div.align-right {
  float: right;
  padding-top: 25px;
  padding-right: 25px;
}
.dropdown.align-right {
  padding: 5px 5px
}
.dropdown.align-right:hover {
  padding: 5px 5px;
  background-color: inherit;
}

.wrapper{
	color:rgba(69,90,100,.8);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown a:hover {
    text-decoration: none;
    color: inherit
}
a:hover {
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.output-button-bar {
    background-color: rgba(69,90,100,1);
    padding: 5px 0;
}

.output-button-bar span {
    text-align: center;
}
.output-button-bar span.left-span {
  float: left;
}
.output-button-bar span.right-span {
  display: block;
}

i.btn {
  color: white;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 3px 3px;
}
i.btn:hover {
  color: #2B68A0;
}

.output-window {
  border-radius: 10px;
  background-color: rgba(144, 164, 174, .8);
  color: white;
  display: inline-block;
  padding: 10px;
  resize: both;
  overflow: auto;
  vertical-align: top;
	border-radius:15px;
	display: inline-block;
  width: 41.5%;
}

#NLP Visualization Window {
    border-radius: 10px;
    background-color: rgba(144, 164, 174, .8);
    color: white;
    display: inline-block;
    padding: 10px;
    resize: both;
    overflow: auto;
    vertical-align: top;
    border-radius: 15px;
    display: inline-block;
    width: 100%;

}

.output {
    background-color: rgba(69,90,100,.8);
    padding: 10px;
}

#banner {
    width: 100%;
}

path:hover {fill: black; z-index: 1;}
div.tooltip {
    z-index: 10;
    position: absolute;
    text-align: center;
    width: 250px;
    height: 200px;
    padding: 2px;
    font: 40px sans-serif;
    background: black;
    border: 0px;
    pointer-events: none;
}
input.year {
    width: 50%;
}
label.range {
    font: 40px sans-serif;
}

/* Accordion CSS */

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
input {
  opacity: 1;
  z-index: -1;
}
label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #2149ce;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.blue label {
  background: #2980b9;
}
.tab-content {
  max-height: 0;
  overflow: scroll;
  background: #2149ce;
  -webkit-transition: max-height .75s;
  -o-transition: max-height .75s;
  transition: max-height .75s;
}
.blue .tab-content {
  background: #3498db;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
input:checked ~ .tab-content {
  max-height: 80%;
}
/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .75s;
  -o-transition: all .75s;
  transition: all .75s;
}
input[type=checkbox] + label::after {
  content: "+";
}
input[type=radio] + label::after {
  content: "\25BC";
}
input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}

th {
    border: medium;
    text-align: left;
}

tr {
    align-content: left;
    border: medium;
}
a img {
  width: 100%;
}
.contains-image {
  width: 8%
}
.contains-image:hover {
  background-color: transparent;
}

#resilienceTable {
  width: auto;

}
#resilienceTable .colorCode {
  width: 10px;
  height: 10px;
  display: inline-block;
}
#resilienceTable td,th {
  text-align: center;
  padding: 5px;
}
#resilienceTable .node {
  overflow: hidden;
  text-align: left;
}
h4 {
  color: white;
}
.resilienceGradient {
  background: transparent; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(blue, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(blue, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(blue, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(blue, red); /* Standard syntax */
  width: 10px;
  margin: 5px;
}
#resilience {
    color: #000b37;
}
