<!DOCTYPE html>
<html lang="en">
<head>
   {% include "header.html" -%}
   <title>Contact Us</title>
   <meta name="description" content="Project Hermes 2.0 help page">
   <link class="main-stylesheet" href="../static/css/custom-help.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="body-main">
<br>
<div class="toolbar">
<li class="dropdown">
                        <a href="{{url_for('visualize_blueprint.visualize')}}"><img src="../static/GATLogo.svg" alt="hermes logo" style="width:10%; height:10%; object-fit:contain;"></a>

                </li>
</div>
<br>
<div class="body-wrapper">
<div class ="about">

<a href="mailto:william.rivera@duke.edu" target="_top"><span class="glyphicon glyphicon-envelope"></span></a><br/><span>

Laboratory for Unconventional Conflict Analysis and Simulation<br>
Social Science Research Institute<br>
Duke University<br>
2024 West Main St. Suite A116<br>
Durham 27705<br>
william.rivera@duke.edu<br>
</div>
</div>
</body>
</html>
