<!DOCTYPE html>

<html>

<head>
	<title>Edge select</title>

	<link href="{{url_for('static', filename='css/general.css')}}" rel="stylesheet">

	<style type="text/css">

	</style>

	<script type="text/javascript">
	function selectAll(source) {
		checkboxes = document.getElementsByTagName('input');
		for(var i in checkboxes){
			checkboxes[i].checked = true;
		}
	};

	function deSelectAll(source) {
		checkboxes = document.getElementsByTagName('input');
		for(var i in checkboxes) {
			checkboxes[i].checked = false;
		}
	};

	function get(id) {
	return document.getElementById(id);
	}

	function openHelp(source){
		get("help").style.display = "block";
	}

	function closeHelp(source) {
		get("help").style.display = "none";
	}

	</script>



</head>

<body>

	<ul>
		<li class="dropdown">
			<a href="{{ url_for('upload') }}">Home</a>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn" style = "color:grey;">View</a>
			<div class="dropdown-content">
			</div>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn">Help</a>
			<div class="dropdown-content">
				<a href="#" onClick = "openHelp(this)">Link Help</a>
				<a href="#" style = "color: grey">Manual</a>
			</div>
		</li>
	</ul>

<div id="help" style="display:none;">
	<button onClick = "closeHelp(this)">Close Help</button>
	<p>This section allows you to select which nodesets, specified in the prior page, will be linked to which other nodesets. For example, if you select "Column1 x Column2", then for every row in the spreadsheet, the node in Column 1 will connect to the node in Column 2.</p>
</div>

<h3>Please choose the source node set:</h3>

<form enctype = "multipart/form-data" method = "post">

	{% for combo in combos %}

		<label><input type = "checkbox" name = "{{ combo }}">{{ combo }}</label><br>

	{% endfor %}

	<input type = "button" onClick = "selectAll(this)" value = "Select All"><br>
	<input type = "button" onClick = "deSelectAll(this)" value = "Clear all"><br>

	<input type = "submit" value = "CONTINUE">

</form>

</body>







</html>