<div class="indented">
    <h3>Please input map and attribute data:</h3>

    <form enctype="multipart/form-data" method="post" action="{{ request.url }}">
        <div>
            <label for="auto-row"> Autocorrelation Rows</label>
            <div>
                <input type="text" name="auto-row" id="auto-row" value={{ info.autoRow }}>
            </div>
        </div>

        <div>
            <label for="auto-col">Autocorrelation Columns</label>
            <div>
                <input type="text" name="auto-col" id="auto-col" value={{ info.autoCol }}>
            </div>
        </div>

        <div>
            <label for="dyn-row">System Dynamics Rows</label>
            <div>
                <input type="text" name="dyn-row" id="dyn-row" value={{ info.dynRow }}>
            </div>
        </div>

        <div>
            <label for="dyn-col">System Dynamics Columns</label>
            <div>
                <input type="text" name="dyn-col" id="dyn-col" value={{ info.dynCol }}>
            </div>
        </div>

        <!---<p>Id</p>
            <input type="text" name="gsa-id" value={{ info.id }}>
            <br>

            <br>-->

        <input type="submit" value="CONTINUE" class="btn btn-default">

    </form>
</div>
