<div class="indented">
    <h3>Please input map and attribute data:</h3>

    <form enctype="multipart/form-data" method="post" action="{{ request.url }}">

        <p>Autocorrelation Rows</p>
        <input type="text" name="auto-row" value={{ info.autoRow }}>
        <br>

        <p>Autocorrelation Columns</p>
        <input type="text" name="auto-col" value={{ info.autoCol }}>
        <br>

        <p>System Dynamics Rows</p>
        <input type="text" name="dyn-row" value={{ info.dynRow }}>
        <br>

        <p>System Dynamics Columns</p>
        <input type="text" name="dyn-col" value={{ info.dynCol }}>
        <br>

        <!---<p>Id</p>
            <input type="text" name="gsa-id" value={{ info.id }}>
            <br>

            <br>-->

        <input type="submit" value="CONTINUE">

    </form>
</div>
