<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/general.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/jgraph-custom.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jgraph_test3.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jgraph-custom.js')}}"></script>
    <title>Jgraph</title>
  </head>

  <body>
    <!-- containers for graph and node labels -->
    <div class="graph"></div>
    <div class="label"></div>
    <!-- OVER-CANVAS ELEMENTS -->
    <div>
      <button class="back-btn" style = "position:fixed;top:0;left:0;color:white;">
        <a href="{{url_for('visualize_blueprint.visualize', case_num=case_num)}}">BACK</a>
      </button>
    <div>
    <!-- data output window, bottom-right corner -->
    <div class = "output-window" id="infoWindows" style = "position: fixed; bottom: 0; right: 0; border-style: solid">
      <!-- container for minimize/maximize buttons, selected node name -->
      <div class = "output-button-bar" id = "weirdOne">
        <i style="margin-left:4px" class="fa fa-window-maximize"
      onclick="maximizeTabs()"></i>
        <i style="margin-left:4px" class="fa fa-window-minimize"
      onclick="minimizeTabs()"></i>
        <span id="name"></span>
        <span class="tab" style="float:right">
          <button class="tablinks active" onclick="measuresToggle();">Measures</button>
          <button id="attributesButton" class="tablinks" onclick="attributesToggle();">Attributes</button>
          <button class="tablinks" onclick="propToggle();">Propensities</button>
        </span>
      </div>
      <!-- info boxes for measures, attributes and propensities dynamically populated with Flask and js -->
      <div id = "nodeInfo" style="border:none">
        <div id="attributes" style="display:none" class='tabcontent'>
          <div id="attributeInfo" class="slider2" style="border:none">
            <div class="filler chooseRequest" position="center">Select a node to display attributes.</div>
          </div>
          <div class="slider2 closed" id="editAttributeInfo"></div>
        </div>
        <div id="measureInfo" class="tabcontent" style="border:none;">
          <div><b>System-wide Measures</b></div>
          {% for measure in systemMeasures -%}
            <div>
              <!--
                handle "normal" system-wide measures -
                systemMeasures contains measures where key is name of measure, value is measure value
                also contains dictionary of measure descriptions (systemMeasures["Description"]) used for tooltips
              -->
              {% if measure not in ["Resilience","Description","Cliques","SentimentDict","Robustness","Trace"] -%}
              <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" title="{{systemMeasures['Description'][measure]}}"></i>
              {{ measure }}: {{ systemMeasures[measure] }}
              {% endif -%}
            </div>
          {% endfor -%}
          <div>
            {% if systemMeasures.get("SentimentDict") -%}
            <a id="sentimentDict" name="sentimentDict" href="{{ url_for('sna_blueprint.view_sent_change', case_num=case_num) }}">
              View Sentiment Change
            </a>
            {% endif -%}
          </div>
          <!-- handle community detection -->
          <div id="commDetection">
            {% if systemMeasures.get("Cliques") == None -%}
              <form id="cliqueForm" enctype="multipart/form-data" method="post">
                <input id="cliques" name="cliqueSubmit" type="submit" value="Find Influence Communities" onclick="handleCliqueClick();" href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="{{systemMeasures['Description']['Cliques']}}">
              </form>
            {% else -%}
            <table id="cliqueTable">
              <tr><th style="text-align:center" colspan="2">Influence Communities</th></tr>
              <tr>
                <th>Central Node</th>
                <th>Community</th>
              </tr>
                {% for clique in systemMeasures['Cliques'] -%}
                <tr>
                    <th>{{ clique[0] }}</th>
                    <td>
                      <a onclick='
                      var centralNode = "{{ clique[0]}}";
                      handleSubgraphClick(centralNode)'>
                        View
                      </a>
                    </td>
                </tr>  
                {% endfor -%}
            </table>
            {% endif -%}
          </div>
          <!-- handle resilience -->
          <div id="resilienceInfo">
              View Resilience measures in the Dashboard.
          </div>
          <!-- node-dependent measures updated dynamically with js -->
          <div class="top-border"><b>Node-Dependent Measures</b></div>
          <div id="nodeMeasureInfo">
            <div class="filler">Select a node to display node-dependent measures.</div>
          </div>
        </div>
        <div id="propInfo" class="tabcontent" style="display:none;border:none">
          <div class="filler chooseRequest" position="center">Select an edge to view propensities.</div>
        </div>
      </div>
    </div>
    <!-- "Action" box for adding/removing nodes, upper right corner-->
    <div class = "output-window" id = "nodeWindow" style = "position:fixed;top:0;right:0;border:solid;">
      <div id = "toolbar" class='slider'>
        <input data-toggle="tooltip" data-placement="left" title="{{systemMeasures['Description']['AddNode']}}" id="add" type="submit" value="Add Node" onclick="showAddNodeWindow()"/>
        <input data-toggle="tooltip" data-placement="left" title="{{systemMeasures['Description']['EventAddition']}}" id="event" type="submit" value="Add Events" onclick="showAddEventWindow()"/>
        <form id="removeNodeForm" enctype="multipart/form-data" method="post">
          <input data-toggle="tooltip" data-placement="left" title="{{systemMeasures['Description']['RemoveNode']}}"id="remove" name="removeNodeSubmit" type="submit" value="Remove Node" href="javascript:void(0)" >
          <input type="text" placeholder="Node Name" name=a id="delete">
        </form>
      </div>
      <div id="addEventWindow" class='slider closed'>
        <form id="eventForm" enctype="multipart/form-data" method="post">
          Iterations to simulate: <input type="text" value="1" name="iters">
          <input id="eventSubmitButton" name="eventSubmit" type="submit" value="Add" href="javascript:void(0)" >
        </form>
        <div class="centeredIcon" onclick="showAddEventWindow()">
          <i class='fa fa-arrow-circle-down'></i>
        </div>
      </div>
      <!-- form element for adding a new node -->
      <div id="addNodeWindow" class='slider closed'>
        <form id="addNodeForm" enctype="multipart/form-data" method="post">
          <div><input name="nodeName" type="text" id="addNodeFormName" placeholder="Enter Node Name"></input></div>
          <br />
          <table id="addNodeTable">
            <tr>
              <td>Node Type:</td>
              <td>
                <select id="classList" name="classList">
                 {% for set in graph.classList %}
                   <option value="{{set}}">
                     {{set}}
                   </option>
                 {% endfor %}
               </select>
              </td>
            </tr>
            <tr>
              <td colspan="2"><div id="additionAdvice"></div></td>
            </tr>
            <tr>
              <td>Add Attribute:</td>
              <td id="addAttrTarget">
                <div>
                  <i id="addAttrButton0" class='fa fa-plus-circle' onclick="handleAddAttributeClick()"></i>
                  <input type="text" id="attribute0" class="attrInput" name="attribute0" placeholder="Attribute"/>
                  <input type="text" id="value0" class="valInput" name="value0" placeholder="Value"/>
                  <input type="text" id="weight0" class="wInput" name="weight0" placeholder="Weight"/>
                </div>
              </td>
            </tr>
            <tr>
              <th colspan="2">Click Nodes to Link</th>
            </tr>
            <tr>
              <td colspan="2" id='addLinkTarget'></td>
            </tr>
            <tr>
              <td class="centered" colspan="2">
                <input id="addNodeSubmit" type = "submit" value = "ADD" name = "addNodeSubmit" onclick="handleAddClick();">
              </td>
            </tr>
        </form>
        </table>
        <div class="centeredIcon" onclick="showAddNodeWindow()">
          <i class='fa fa-arrow-circle-down'></i>
        </div>
      </div>
      <!-- window minimization/maximization buttons -->
      <div class = "output-button-bar">
        <i style="margin-left:4px" class="fa fa-window-maximize fa-flip-vertical"
        onclick="document.getElementById('toolbar').style.display='inline-block'"></i>
        <i style="margin-left:4px" class="fa fa-window-minimize fa-flip-vertical"
        onclick="document.getElementById('toolbar').style.display='none'"></i>
      </div>
    </div>
    <!-- Options window for color changing -->
    <div class = "output-window" id = "SNAOptionsWindow" style = "position:fixed;bottom:0;left:0;border:solid;">
      <!-- window minimization/maximization buttons -->
      <div class = "output-button-bar" style="text-align:right">
        <i  class="fa fa-window-minimize"
        onclick="document.getElementById('SNAOptions').style.display='none'"></i>
        <i  class="fa fa-window-maximize"
        onclick="document.getElementById('SNAOptions').style.display='inline-block'"></i>
      </div>
      <div class = "output" id = "SNAOptions">
        <h3><center>Options</center></h3>
        <!-- color options form -->
        <form enctype = "multipart/form-data" method = "post">
          <b>Colors</b><br>
          {% for set in graph.classList %}
            {{set}}:
            <select name = "{{set}}Color">
              {% for c in colors %}
                <option value = "{{c}}" {% if c == attr[set][0] %}selected = "on" {% endif %}>{{c}}</option>
              {% endfor %}
            </select>
            <br>
          {% endfor %}
          <input style="margin-right:auto;margin-left:auto;margin-top:5px;margin-bottom:5px" type = "submit" value = "SUBMIT" name = "options">
        </form>
      </div>
    </div>
    <!-- script for on-document-load functions -->
    <script type="text/javascript">
      jgraph.create('.graph', {directed: true, edgeSize: .05, arrowSize:.5, defaultEdgeColor:0x808080});
      try {
        jgraph.draw({{jgdata|safe}});
      }
      catch (err) {
       console.log(err) // prevent page break on drawing error
      };

      // generate node name label anchored to user mouse
      var onEnter, onExit, $d, hovered, currentNodeDict;
      $d = $('.label');
      $d.hide();
      hovered = jgraph.makeMaterial(0xb7ecff);
      onEnter = function (object) {
        if (object.geometry.type === "SphereGeometry") {
          $d.html('<p><b>' + object.name + '</b></p>');
        } else {
          if (object.name !== ""){
            $d.html('<p><b>' + object.name + '</b></p>');
          }
        }
          console.log(object);
          $d.show();
          object.defaultMaterial = object.material;
          object.material = hovered;
      };
      onExit = function (object) {
          $d.empty();
          $d.hide();
          object.material = object.defaultMaterial;
      };
      jgraph.onHover(onEnter, onExit);
      $(document).mousemove(function (event) {
          $d.css({ left: event.pageX + 10, top: event.pageY + 10 });
      });

      // return data for clicked node
      var attributeFlag = false; // if add node window is open, regular functionality disabled with attributeFlag
      jgraph.onClick(function (node) {
        if (attributeFlag == false) {
          if (node.name !== "" && node.geometry.type === "SphereGeometry") {
            $.getJSON("{{ url_for('sna_blueprint.get_node_data', case_num=case_num) }}", {
              name: node.name
            }, function(data) {
              update(data);
              data['name'] = node.name
              currentNodeDict = data;
          });
          } else {
            $("#name").text(node.name);
            $("#cluster").text("Null");
            $("#eigenvalue_centrality").text("Null");
            $("#betweenness_centrality").text("Null");
            $("#delete").val('');
          };
        }
        // handle linked node selections for addNode function
        else {
          if (node.name !== "" && node.geometry.type === "SphereGeometry") {
            console.log("triggered..")
            $.getJSON("{{ url_for('sna_blueprint.get_node_data', case_num=case_num) }}", {
              name: node.name
            }, function(data) {
              handleAddLinkClick(node.name)
            });
          }
        }
      });

      // return edge data on edge click, including propensities
      jgraph.onClick(function (edge) {
        if (attributeFlag == false) {
          console.log("edge.name",edge.name)
          if (edge.name != "" && edge.geometry.type === "CylinderGeometry") {
            $.getJSON("{{ url_for('sna_blueprint.get_edge_data', case_num=case_num) }}", {
              name: edge.name
            }, function(data) {
              updateEdge(data);
              data['name'] = edge.name
              currentEdgeDict = data;
          });
        }
        else {
          console.log("Can't choose an edge right now")
        };
       }
      });

      $(function(){
        $('a#undo').bind('click', function(){
            jgraph.undo()
        });
      });

      $(function(){
        $('a#redo').bind('click', function(){
            jgraph.redo()
        });
      });

      $(function(){
        $('a#reset').bind('click', function(){
            jgraph.reset()
        });
      });

      handleSubgraphClick = function(centralNode) {
        console.log(centralNode);
        $.getJSON("{{ url_for('sna_blueprint.subgraph_viz', case_num=case_num) }}", {
              centralNode: centralNode
            }, function(data) {
              console.log(data)
              jgraph.testing_subgraph(data);
          });
      }

      //update info displays with node data
      update = function(nodeDict) {
        console.log("NodeDict:",nodeDict)
        $("#delete").val(nodeDict['name']);
        $("#addNodeFormName").val(nodeDict['name']);
        $("#nodeMeasureInfo").empty()
        $("#attributeInfo").empty()
        $("#propInfo").empty()
        $("#propInfo").append("<span>Select an edge to view propensities.</span>")
        $("#attributeInfo").append("<i id='editButton' class='rightIcon fa fa-edit' onclick='handleEditButton()'></i>")
        $("#name").text(nodeDict['name'])
        for (var key in nodeDict) {
          if (nodeDict.hasOwnProperty(key)) {
            if (key != "attributes" && key != "name") {
              console.log(key, nodeDict[key])
              $("#nodeMeasureInfo").append("<span id='"+key+"'>"+key+": "+nodeDict[key]+"</span><br>")
            }
          }
        }
        // add tooltips to qualifying attributes
        if ($("#eigenvector").length) {
          $('#eigenvector').prepend('<i class="fa fa-info-circle white-tooltip" data-toggle="tooltip" data-placement="left" title="{{systemMeasures["Description"]["eigenvector"]}}"></i> ')
        }
        if ($("#betweenness").length) {
          $('#betweenness').prepend('<i class="fa fa-info-circle white-tooltip" data-toggle="tooltip" data-placement="left" title="{{systemMeasures["Description"]["betweenness"]}}"></i> ')
        }
        if ($("#sentiment").length) {
          $('#sentiment').prepend('<i class="fa fa-info-circle white-tooltip" data-toggle="tooltip" data-placement="left" title="{{systemMeasures["Description"]["sentiment"]}}"></i> ')
        }
        $('[data-toggle="tooltip"]').tooltip();
        // append all attributes with key and value
        for (var feature in nodeDict['attributes']) {
          if (feature == "ontClass") {
            $("#attributeInfo").append("<span id='class'>Class: </span>")
            $("#attributeInfo").append("<span>"+nodeDict['attributes'][feature]+"</span><br>")
          }
          else if (feature != "block" && feature != "Name") {
            $("#attributeInfo").append("<span id='"+feature+"'>"+feature+": </span>")
            var list = []
            for (var item in nodeDict['attributes'][feature]) {
              console.log(nodeDict['attributes'][feature][item])
              if ( Object.prototype.toString.call( nodeDict['attributes'][feature][item] ) === '[object Array]') {
                list.push(nodeDict['attributes'][feature][item][0]+" ("+nodeDict['attributes'][feature][item][1]["W"]+") ")
                // $("#attributeInfo").push("<span>"+nodeDict['attributes'][feature][item][0]+"</span></br>")
              }
              else {
                list.push(nodeDict['attributes'][feature][item])
                // $("#attributeInfo").push("<span>"+nodeDict['attributes'][feature][item]+"</span><br>")
              }
              console.log(list)
            }
            $("#attributeInfo").append("<span>"+list+"</span></br>")
          }
        }
      }

      //update info displays with edge data
      updateEdge = function(edgeDict) {
        console.log("EdgeDict:",edgeDict)
        $("#delete").val(edgeDict['name']);
        $("#addNodeFormName").val(edgeDict['name']);
        $("#nodeMeasureInfo").empty()
        $("#nodeMeasureInfo").append("<div class='filler'>Edge information is contained in the propensities tab.</div>")
        $("#propInfo").empty()
        $("#attributeInfo").empty()
        $("#attributeInfo").append("<div class='filler'>Edge information is contained in the propensities tab.</div>")
        $("#name").text(edgeDict['source']+"x"+edgeDict['target'])
        // append to $("#propInfo")
        $("#propInfo").append("<span>Propensities for the link from <b>"+edgeDict['source']+"</b> to <b>"+edgeDict['target']+"</b>:<br></span>")
        empty = true
        for (var key in edgeDict) {
          if (key != "source" && key != "target" && key != "name" && key != "propsFlag") {
            if (edgeDict[key] != null) {
              $("#propInfo").append("<span id='"+key+"'><i>"+key+":</i></span><br>")
              for (var prop in edgeDict[key]) {
                $("#propInfo").append("<span id='"+prop+"'>"+prop+": "+edgeDict[key][prop]+"</span><br>")
              }
              empty = false
            }
          }
        }
        if (empty) {
          $("#propInfo").empty()
          $("#propInfo").append("<span>No propensities apply to the edge from "+edgeDict['source']+" to "+edgeDict['target']+".</span>")
        }
      }
      $('[data-toggle="tooltip"]').tooltip();

      // Add custom advice for node addition.
      $('#classList').on('change', function() {
        var selected = $( "#classList option:selected" ).val();
        console.log(selected)
        if(selected == "Event") {
          $("#additionAdvice").html("For events, specify CAMEO code ('code'), event source ('source'), and event target ('target') attributes below.");
        }
        else {
          $("#additionAdvice").html("");
        }
      });
    </script>
  </body>
</html>
