<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/custom.frontend.js"></script>
<script>
    function show1() {
        $('#nlp_modal').modal('show');
        $('#sna_modal').modal('hide');
        $('#gsa_modal').modal('hide');
    }

    function show2() {
        $('#nlp_modal').modal('hide');
        $('#sna_modal').modal('show');
        $('#gsa_modal').modal('hide');
    }

    function show3() {
        $('#nlp_modal').modal('hide');
        $('#sna_modal').modal('hide');
        $('#gsa_modal').modal('show');
    }

    function openurl(link) {
        window.open(link);
    }
</script>
<style>
    body.modal-open .blur {
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        filter: blur(20px);
    }
</style>

<div class="modal fade slide-right" id="nlp_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content table-block"
                 style="background: rgba(187, 222, 251, .0); border: 0px; background-repeat: no-repeat; background-position: 50% 90%; background-size: 40%;">

                <div style="margin-right: 27px;">
                    <button type="button" class="btn btn-danger btn-sm pull-right" data-dismiss="modal"><i
                            class="fa fa-times-circle fa-2x" aria-hidden="true" style="z-index:1000;"></i>
                    </button>
                </div>
                <br>
                <div class="modal-body v-align-left text-left">

                    <h3 style='color:white'>Natural Language Processing</h3>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Sample Cases</h4>
                        </div>
                        <div class="panel-body">
{#                            <a href="{{ url_for('sample_blueprint.nlp_sample', sample_path = 'isil', case_num=case_num) }}">Capturing#}
{#                                Mosul</a>#}
{#                            <br/>#}
                            <a href="{{ url_for('sample_blueprint.nlp_sample', sample_path = 'new_nlp_example', case_num=case_num) }}">Iranian Influence</a>

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Data Input</h4>
                        </div>
                        <div class="panel-body">
                            Upload text files (.txt, .rtf):<br>
                            <p style="font-size:10px">(Use Ctrl- or Shift-click to select multiple files)</p>
                            <input type="file" id="NLP_Input_corpus" name="NLP_Input_corpus" multiple>
                            <hr>
                            Enter urls to scrape (comma separated):<br>
                            <input type="text" id="NLP_LDP_terms" name="NLP_LDP_terms">
                            <hr>
                            <input type="submit" value="SUBMIT">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div> <!-- Don't delete this div even though they appear to serve no purpose -->

<div class="modal fade slide-right" id="sna_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content table-block"
                 style="background: rgba(187, 222, 251, .0); border: 0px; background-repeat: no-repeat; background-position: 50% 90%; background-size: 40%;">

                <div style="margin-right: 27px;">
                    <button type="button" class="btn btn-danger btn-sm pull-right" data-dismiss="modal"><i
                            class="fa fa-times-circle fa-2x" aria-hidden="true" style="z-index:1000;"></i>
                    </button>
                </div>
                <br>
                <div class="modal-body v-align-left text-left">
                    <h3 style='color:white'>Social Network Analysis</h3>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Sample Cases</a></h4>
                        </div>
                        <div class="panel-body">
                            <!--<a href="{{url_for('sample_blueprint.sna_sample', sample_path = 'iran.xlsx', case_num=case_num)}}">Run Iran Political Elite case</a><br>-->
                            <!--<a href="{{url_for('sample_blueprint.sna_sample', sample_path = 'AAH_for_SNA.xlsx', case_num=case_num)}}">Run AAH case</a><br>-->
                            <!--<a href="{{url_for('sample_blueprint.sna_sample', sample_path = 'roleTheorySample.xlsx', case_num=case_num)}}">Run Role Theory case</a><br>-->
                            <a href="{{ url_for('sample_blueprint.sna_sample', sample_path = 'Iranian_Influence.xlsx', case_num=case_num) }}">Iranian Influence</a><br>
                            <!-- <a href="{{url_for('sample_blueprint.sna_sample', sample_path = 'TestDetectionCase.xlsx', case_num=case_num)}}">Test Community Detection</a><br> -->
                            <a href="{{ url_for('static', filename = 'sample/sna/template.xlsx', case_num=case_num) }}"
                               download>Download Template</a>
                            <!--<a href="{{url_for('sample_blueprint.sna_sample', sample_path = 'BT_CaseStudy.xlsx', case_num=case_num)}}">Run BT case</a><br>-->
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Data Input</a></h4>
                        </div>
                        <div class="panel-body">
						<span class="inputsection">
							<br>
							Upload .xlsx file for SNA:<br>
                            <form enctype="multipart/form-data" method="post"
                                  action="{{ url_for('upload_blueprint.upload', case_num=case_num) }}" name="sna_file"
                                  id="sna_file">
							    <input type="file" id="SNA_Input" name="SNA_Input" size=20 value="a"><br>
							    <input type="submit" value="SUBMIT">
                            </form>
						</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade slide-right" id="gsa_modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content table-block"
                 style="background: rgba(187, 222, 251, .0); border: 0px; background-repeat: no-repeat; background-position: 50% 90%; background-size: 40%;">

                <div style="margin-right: 27px;">
                    <button type="button" class="btn btn-danger btn-sm pull-right"
                            data-dismiss="modal"><i
                            class="fa fa-times-circle fa-2x" aria-hidden="true"
                            style="z-index:1000;"></i></button>
                </div>
                <br>
                <div class="modal-body v-align-left text-left">
                    <h3 style='color:white'>Geospatial Analysis</h3>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Sample Cases</h4>
                        </div>
                        <div class="panel-body">
                            <!-- <a href="{{url_for('sample_blueprint.gsa_sample', sample_path = 'usa', case_num=case_num)}}">Run United States Income case</a><br> -->
                            <a href="{{ url_for('sample_blueprint.gsa_sample', sample_path = 'iraq', case_num=case_num) }}">
                                Iranian Influence</a>
                            <br/>
                            <a href="{{ url_for('sample_blueprint.gsa_sample', sample_path = 'geonet', case_num=case_num) }}">
                                Crimes on Streets</a>
                            <br/>
                            <a href="{{ url_for('sample_blueprint.gsa_sample', sample_path = 'emoSpace', case_num=case_num) }}">
                                Emotional Space</a>
                            <br/>
                            <a href="{{ url_for('static', filename = 'sample/gsa/template.csv', case_num=case_num) }}"
                               download>Download Template</a>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Data Input</h4>
                        </div>

                        <div class="panel-body">
						<span class="inputsection">

                            <form enctype="multipart/form-data" method="post"
                                  action="{{ url_for('upload_blueprint.upload', case_num=case_num) }}" name="sna_file"
                                  id="sna_file">

                                Upload .csv file for GSA:<br>

                                <input type="file" id="GSA_Input_CSV" name="GSA_Input_CSV" size=20><br>

                                Upload 3 files (.shp, .shx, .dfb) for GSA:<br>

							    <input type="file" id="GSA_Input_map" name="GSA_Input_map" size=20
                                       multiple><br>

                                <input type="submit" value="SUBMIT">

                            </form>

						</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
