<!DOCTYPE html>

<html>

<head>
	<title>Node select</title>

	<link href="{{url_for('static', filename='css/general.css')}}" rel="stylesheet">

	<script type="text/javascript">

	function get(id) {
		return document.getElementById(id);
	}

	function openHelp(source){
		get("help").style.display = "block";
	}

	function closeHelp(source) {
		get("help").style.display = "none";
	}

	</script>



</head>

<style>
* {
 font-size: 100%;
 font-family: Segoe UI;
}
</style>

<body>

<ul>
	<li class="dropdown">
		<a href="{{ url_for('upload') }}">Home</a>
	</li>
	<li class="dropdown">
		<a href="#" class="dropbtn" style = "color:grey;">View</a>
		<div class="dropdown-content">
		</div>
	</li>
	<li class="dropdown">
		<a href="#" class="dropbtn">Help</a>
		<div class="dropdown-content">
			<a href="#" onClick = "openHelp(this)">Node Help</a>
			<a href="#" style = "color: grey">Manual</a>
		</div>
	</li>
	</ul>

<br><br><br>


<div id="help" style="display:none;">
	<button onClick = "closeHelp(this)">Close Help</button>
	<p>Each box in this section corresponds to a column in your specified spreadsheet. Each column should correspond to a set of nodes, or nodeset. If you check the "is a nodeset?" box, then every value in that column will represent a node in the network. If you do not, then the values in that column will not be in the network. You may also elect to rename nodesets; the default value is the column name in the spreadsheet. The next page will allow you to select which relationships between the nodesets you would like to visualize and analyze.</p>
</div>

<form enctype = "multipart/form-data" method = "post" style = "display:inline;">

	<div class = "nodes">

	{% for node in nodes %}

		<div class = "nodewindow">
			{{node}} Column:<br>
			<label><input type = "checkbox" name = "{{ node + 'IsNode' }}">is a nodeset?</label><br>
			Nodeset name: <input type = "text" name = "{{ node + 'Name' }}" value = "{{ node }}">
		</div>


	{% endfor %}

	</div>

	<br>
	<input type = "submit" value = "CONTINUE" style = "position: fixed;">

</form>

</body>
</html>

