<script type="text/javascript">

    function get(id) {
        return document.getElementById(id);
    }

    function openHelp(source) {
        get("help").style.display = "block";
    }

    function closeHelp(source) {
        get("help").style.display = "none";
    }

    function toggleNodeSet(source) {
        checkboxes = document.getElementsByClassName("nodeset");
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    function toggleSrcSet(source) {
        checkboxes = document.getElementsByClassName("srcset");
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>
<div class="indented">
    <form enctype="multipart/form-data" method="post" action="{{ request.url }}">
        <table class="table table-striped table-responsive">
            <tr>
                <th>Node Set</th>
                <th>Visualize?</th>
                <!--<th>Source?</th>-->
                <th>Class</th>
                <th>Label</th>
            </tr>
            <tr class="last">
                <td><i>Select all</i></td>
                <td class="centered"><input checked type="checkbox" onclick="toggleNodeSet(this)"></td>
                <!--<td class="centered"><input  type = "checkbox" onclick="toggleSrcSet(this)"></td>-->
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>{{ nodes[0] }}</td>
                <td class="centered"><label><input checked type="checkbox" onclick="return false;"/></label></td>
                <td>
                    Source Nodeset
                </td>
                <td><input type="text" name="" value="{{ nodes[0] }}"></td>
            </tr>
            {% for node in nodes[1:] %}
                <tr>
                    <td>{{ node }}</td>
                    <td class="centered"><label><input checked class="nodeset" type="checkbox"
                                                       name="{{ node + 'IsNode' }}"></label></td>
                    <td>
                        <!--'position': 'position',-->
                        <select  class="form-control" name="{{ node + 'Class' }}">
                            <option value="Agent" {% if
                            'Agent' in node %} selected="selected" {% endif %} >Agent
                            </option>
                            <option value="Organization" {% if
                            'Org' in node %} selected="selected" {% endif %} >Organization
                            </option>
                            <option value="Audience" {% if
                            'Audience' in node %} selected="selected" {% endif %}>Audience
                            </option>
                            <option value="Role" {% if
                            'Role' in node %} selected="selected" {% endif %}>Role
                            </option>
                            <option value="Event" {% if
                            'Event' in node %} selected="selected" {% endif %}>Event
                            </option>
                            <option value="Belief" {% if
                            'Belief' in node %} selected="selected" {% endif %}>Belief
                            </option>
                            <option value="Symbols" {% if
                            'Symbol' in node %} selected="selected" {% endif %}>Symbol
                            </option>
                            <option value="Knowledge" {% if
                            'Knowledge' in node %} selected="selected" {% endif %}>Knowledge
                            </option>
                            <option value="Task Model" {% if
                            'Task' in node %} selected="selected" {% endif %}>Task
                            </option>
                        </select>
                    </td>
                    <td><input type="text" name="{{ node + 'Name' }}" value="{{ node }}"></td>
                </tr>
            {% endfor -%}
        </table>
        <br/>
        <table id="propToggle" class="table table-striped">
            <tr>
                <th colspan="2">Propensities</th>
            </tr>
            <tr>
                <td>Emotional</td>
                <td class="centered"><label class="switch"><input checked class="nodeset" type="checkbox"
                                                                  name="emo"><span class="slider round"></span></label>
                </td>
            </tr>
            <tr>
                <td>Influence</td>
                <td class="centered"><label class="switch"><input checked class="nodeset" type="checkbox"
                                                                  name="infl"><span class="slider round"></span></label>
                </td>
            </tr>
            <tr>
                <td>Role</td>
                <td class="centered"><label class="switch"><input checked class="nodeset" type="checkbox"
                                                                  name="role"><span class="slider round"></span></label>
                </td>
            </tr>
        </table>
        <input type="submit" value="CONTINUE" class="btn btn-default"/>
    </form>
</div>