<!DOCTYPE html>

<html>

<head>
	<title>Node select</title>

	<link href="{{url_for('static', filename='css/general.css')}}" rel="stylesheet">

	<script type="text/javascript">

	function get(id) {
		return document.getElementById(id);
	}

	function openHelp(source){
		get("help").style.display = "block";
	}

	function closeHelp(source) {
		get("help").style.display = "none";
	}

	</script>
	<style>
		table {
			background-color: #071138;
			border: solid white;
			border-collapse: collapse;
		}
		table .centered {
			text-align: center
		}
		th,td {
			padding: 5px;
			border-top: solid thin white;
		}
	</style>


</head>

<style>
* {
 font-size: 100%;
 font-family: Segoe UI;
}
</style>

<body>

<ul>
	<li class="dropdown">
		<a href="{{ url_for('upload') }}">Home</a>
	</li>
	<li class="dropdown">
		<a href="#" class="dropbtn" style = "color:grey;">View</a>
		<div class="dropdown-content">
		</div>
	</li>
	<li class="dropdown">
		<a href="#" class="dropbtn">Help</a>
		<div class="dropdown-content">
			<a href="#" onClick = "openHelp(this)">Node Help</a>
			<a href="#" style = "color: grey">Manual</a>
		</div>
	</li>
	</ul>

<br>


<div id="help" style="display:none;">
	<button onClick = "closeHelp(this)">Close Help</button>
	<p>Each box in this section corresponds to a column in your specified spreadsheet. Each column should correspond to a set of nodes, or nodeset. If you check the "is a nodeset?" box, then every value in that column will represent a node in the network. If you do not, then the values in that column will be attributes of nodes in the network. You may also elect to rename nodesets; the default value is the column name in the spreadsheet. The next page will allow you to select which relationships between the nodesets you would like to visualize and analyze.</p>
</div>

<form enctype = "multipart/form-data" method = "post" style = "display:inline;">
	<table>
		<tr>
			<th>Data Column</th>
			<th>Nodeset?</th>
			<th>Source?</th>
			<th>Class</th>
			<th>Label</th>
		</tr>
		{% for node in nodes %}
		<tr>
			<td>{{node}}</td>
			<td class="centered"><label><input type = "checkbox" name = "{{ node + 'IsNode' }}"></label></td>
			<td class="centered"><label><input type = "checkbox" name = "{{ node + 'IsSource' }}"></label></td>
			<td>
				<select name="{{ node + 'Class' }}">
					<option value="Agent" {% if 'Agent' in node %} selected="selected" {% endif %} >Agent</option>
					<option value="Organization" {% if 'Org' in node %} selected="selected" {% endif %} >Organization</option>
					<option value="Knowledge" {% if 'Knowledge' in node %} selected="selected" {% endif %}>Knowledge</option>
					<option value="Belief" {% if 'Belief' in node %} selected="selected" {% endif %}>Belief</option>
					<option value="Event" {% if 'Event' in node %} selected="selected" {% endif %}>Event</option>
					<option value="Task" {% if 'Task' in node %} selected="selected" {% endif %}>Task</option>
					<option value="Location" {% if 'Location' in node %} selected="selected" {% endif %}>Location</option>
					<option value="Role" {% if 'Role' in node %} selected="selected" {% endif %}>Role</option>
					<option value="Symbol" {% if 'Symbol' in node %} selected="selected" {% endif %}>Symbol</option>
                    <option value="Resource" {% if 'Resource' in node %} selected="selected" {% endif %}>Resource</option>
                    <option value="Infrastructure" {% if 'Infrastructure' in node %} selected="selected" {% endif %}>Infrastructure</option>
				</select>
			</td>
			<td><input type = "text" name = "{{ node + 'Name' }}" value = "{{ node }}"></td>
		</tr>
		{% endfor -%}
	</table>
	<br/>
	<input type = "submit" value = "CONTINUE" style="box-sizing:border-box;"/>
</form>

</body>
</html>
