<!DOCTYPE html>

<html>

<head>
	<title>Trope Display</title>

	<link href="{{url_for('static', filename='css/general.css')}}" rel="stylesheet">

	<style type="text/css">

	</style>

	<script type="text/javascript">

	function get(id) {
	return document.getElementById(id);
	}

	function openHelp(source){
		get("help").style.display = "block";
	}

	function closeHelp(source) {
		get("help").style.display = "none";
	}

	</script>



</head>

<body>
<img id = "banner" src = "{{url_for('static', filename = 'GAT_header_1-9.jpg')}}" style = "width:100%;" alt = "Banner Image"/> <br>

	<ul>
		<li class = "dropdown">
			<a href="{{url_for('visualize', case_num=case_num)}}">Back</a>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn">View</a>
			<div class="dropdown-content">
			</div>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn">Help</a>
			<div class="dropdown-content">
				<a href="#" onClick = "openHelp(this)">Trope Help</a>
				<a href="#" style = "color: grey">Manual</a>
			</div>
		</li>
	</ul>

<center><h3>Trope Radar Chart Displays</h3></center>

<div id="help" style="display:none;">
	<button onClick = "closeHelp(this)">Close Help</button>
	<p>This section visualizes tropes along 8 emotion scales. The trope being visualized is the title of the chart, and the blue line represents how associated that trope is with each emotion. The red line, if displayed, shows what the chart would look like if the trope were fully associated with all emotions.</p>
</div>

<div id="radar_charts">
	{% for pair in images|batch(2) %}
	<div style = "align: center">
	{% for image in pair %}

		<img class = "radar_chart" src = "{{image}}" alt = "{{image}}" style = "width: 49%; display: inline;">

	{% endfor %}<br>
	</div>
	{% endfor %}
</div>



</body>







</html>