<div class="indented">
    <h3>Please select node and attribute data sheets:</h3>

    <form enctype="multipart/form-data" method="post" action="{{ request.url }}">

        <p>Node Sheet: </p>
        <select name="nodeSheet">

            {% for sheet in sheets %}

                <option value="{{ sheet }}" {% if
                'Node' in sheet -%} selected="selected" {% endif -%} >{{ sheet }}</option>

            {% endfor %}

        </select><br>

        <p>Attribute Sheet: </p>
        <select name="attrSheet">

            {% for sheet in sheets %}

                <option value="{{ sheet }}" {% if
                'Attr' in sheet -%} selected="selected" {% endif -%} >{{ sheet }}</option>

            {% endfor %}

        </select><br><bR>

        <input type="submit" value="CONTINUE">

    </form>
</div>
