<div class="indented">
    <h3>Please select node and attribute data sheets:</h3>

    <form enctype="multipart/form-data" id="sna_sheetselect" method="post" action="{{ request.url }}">
        <div class="form-group">
            <label for="nodeSheet"> Node Sheet: </label>
            <div>
                <select class="form-control" name="nodeSheet" id="nodeSheet">

                    {% for sheet in sheets %}

                        <option value="{{ sheet }}" {% if
                'Node' in sheet -%} selected="selected" {% endif -%} >{{ sheet }}</option>

                    {% endfor %}

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="attrSheet">Attribute Sheet: </label>
            <div>
                <select class="form-control" name="attrSheet" id="attrSheet">

                    {% for sheet in sheets %}

                        <option value="{{ sheet }}" {% if
                'Attr' in sheet -%} selected="selected" {% endif -%} >{{ sheet }}</option>

                    {% endfor %}

                </select>
            </div>
        </div>


        <input type="submit" onclick="showResponsePost(event, 'sna_sheetselect')" value="CONTINUE" class="btn btn-default">

    </form>
</div>
