<!DOCTYPE html>
<html>
<head>
    <title>Sheet Select</title>
    {% include "header.html" -%}
    <link href="{{url_for('static', filename='css/vizStyle.css')}}" rel="stylesheet">
    <script type="text/javascript">
	  function get(id) {
			return document.getElementById(id);
		}
		function openHelp(source){
			get("help").style.display = "block";
		}
		function closeHelp(source) {
			get("help").style.display = "none";
		}
		// target elements with the "draggable" class
		interact('.draggable')
		  .draggable({
		    // enable inertial throwing
		    inertia: true,
		    // keep the element within the area of it's parent
		    restrict: {
		      restriction: "parent",
		      endOnly: true,
		      elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
		    },
		    // enable autoScroll
		    autoScroll: true,

		    // call this function on every dragmove event
		    onmove: dragMoveListener,
		    // call this function on every dragend event
		    onend: function (event) {
		      var textEl = event.target.querySelector('p');

		      textEl && (textEl.textContent =
		        'moved a distance of '
		        + (Math.sqrt(event.dx * event.dx +
		                     event.dy * event.dy)|0) + 'px');
		    }
		  });

		  function dragMoveListener (event) {
		    var target = event.target,
		        // keep the dragged position in the data-x/data-y attributes
		        x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
		        y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

		    // translate the element
		    target.style.webkitTransform =
		    target.style.transform =
		      'translate(' + x + 'px, ' + y + 'px)';

		    // update the posiion attributes
		    target.setAttribute('data-x', x);
		    target.setAttribute('data-y', y);
		  }

		  // this is used later in the resizing and gesture demos
		  window.dragMoveListener = dragMoveListener;
		interact('.resize-drag-outer')
	  .draggable({
	    onmove: window.dragMoveListener
	  })
	  .allowFrom('.resize-drag')
	  .resizable({
	    preserveAspectRatio: true,
	    edges: { left: true, right: true, bottom: true, top: true }
	  })
	  .on('resizemove', function (event) {
	    var target = event.target,
	        x = (parseFloat(target.getAttribute('data-x')) || 0),
	        y = (parseFloat(target.getAttribute('data-y')) || 0);

	    // update the element's style
	    target.style.width  = event.rect.width + 'px';
	    target.style.height = event.rect.height + 'px';

	    // translate when resizing from top or left edges
	    x += event.deltaRect.left;
	    y += event.deltaRect.top;

	    target.style.webkitTransform = target.style.transform =
	        'translate(' + x + 'px,' + y + 'px)';

	    target.setAttribute('data-x', x);
	    target.setAttribute('data-y', y);
	  });


    </script>
    <style>
		body {
			height:100vh;
		}
		label {
			display: block;
		}
		center {
			color: white;
		}

    </style>

</head>

<style>
* {
 font-size: 100%;
 font-family: Segoe UI;
}
h3, p {
	color: white;
}
.indented {
	margin: 5% 10%
}
input {
	opacity: 1;
	position: initial;
}

</style>

<script>
		function show1(){
			$('#nlp_modal').modal('show');
			$('#sna_modal').modal('hide');
			$('#gsa_modal').modal('hide');
		}

		function show2(){
			$('#nlp_modal').modal('hide');
			$('#sna_modal').modal('show');
			$('#gsa_modal').modal('hide');
		}

		function show3(){
			$('#nlp_modal').modal('hide');
			$('#sna_modal').modal('hide');
			$('#gsa_modal').modal('show');
		}
		function openurl(link){
				window.open(link);
			}

</script>


<body class="resize-container">
<section class="blur">
    <!-- dropdown menu
        The buttons will have to become buttons, indeed-->
    <div class="wrapperul" align="center">
        <ul>
            <li class="dropdown contains-image">
                <a href="{{url_for('upload_blueprint.upload')}}"><img
                        src="{{url_for('static', filename='GATLogo.svg')}}" alt="hermes logo"></a>
            </li>
            <li class="dropdown" onclick="show1()">
                <a href="#" class="dropbtn">NLP</a>
            </li>
            <li class="dropdown" onclick="show2()">
                <a href="#" class="dropbtn">SNA</a>
            </li>
            <li class="dropdown" onclick="show3()">
                <a href="#" class="dropbtn">GSA</a>
            </li>
            <li class="dropdown align-right">
                <a href="#" class="dropbtn"><i class="fa fa-question-circle fa-lg"></i></a>
                <div class="dropdown-content">
                    <a href="#" onClick="openHelp(this)">GSA Output Help</a>
                    <a href="{{url_for('info_blueprint.help')}}">Help Page</a>
                </div>
            </li>
        </ul>
    </div>
    <body>

    <div class="indented">
        <h3>Please select node and attribute data sheets:</h3>

        <form enctype="multipart/form-data" method="post">

            <p>Node Sheet: </p>
            <select name="nodeSheet">

                {% for sheet in sheets %}

                <option value="{{ sheet }}" {% if
                'Node' in sheet -%} selected = "selected" {% endif -%} >{{ sheet }}</option>

                {% endfor %}

            </select><br>

            <p>Attribute Sheet: </p>
            <select name="attrSheet">

                {% for sheet in sheets %}

                <option value="{{ sheet }}" {% if
                'Attr' in sheet -%} selected = "selected" {% endif -%} >{{ sheet }}</option>

                {% endfor %}

            </select><br><bR>

            <input type="submit" value="CONTINUE">

        </form>
    </div>
  </section>
  {% include 'modal.html' -%}

    </body>


</html>
