<!DOCTYPE html>

<html>

<head>
	<title>Trope select</title>
	<link href="{{url_for('static', filename='css/general.css')}}" rel="stylesheet">
	<style type="text/css"></style>
	<script type="text/javascript">

	function selectAll(source) {
		checkboxes = document.getElementsByTagName('input');
		for(var i in checkboxes){
			checkboxes[i].checked = true;
		}
	};

	function deSelectAll(source) {
		checkboxes = document.getElementsByTagName('input');
		for(var i in checkboxes) {
			checkboxes[i].checked = false;
		}
	};

	function get(id) {
	return document.getElementById(id);
	}

	function openHelp(source){
		get("help").style.display = "block";
	}

	function closeHelp(source) {
		get("help").style.display = "none";
	}

	</script>
</head>

<style>
* {
 font-size: 100%;
 font-family: Segoe UI;
}
</style>

<body>

	<ul>
		<li class="dropdown">
			<a href="{{ url_for('upload') }}">Home</a>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn">View</a>
			<div class="dropdown-content">
			</div>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn">Help</a>
			<div class="dropdown-content">
				<a href="#" onClick = "openHelp(this)">Trope Help</a>
				<a href="#" style = "color: grey">Manual</a>
			</div>
		</li>
	</ul>

<div id="help" style="display:none;">
	<button onClick = "closeHelp(this)">Close Help</button>
	<p>This section allows you to select which tropes you would like to visualize along the 8 emotion scales.</p>
</div>

<br><br>

<h3>Please choose which tropes you would like to visualize:</h3>

<form enctype = "multipart/form-data" method = "post">

	{% for trope in tropes %}

		<label><input type = "checkbox" name = "{{ trope[0] }}">{{ trope[0] }}</label>
	<br>
	{% endfor %}


	<input type = "button" onClick = "selectAll(this)" value = "Select All"><br>
	<input type = "button" onClick = "deSelectAll(this)" value = "Clear all"><br>
	<input type = "submit" value = "CONTINUE">

</form>
</body>
</html>
