<!DOCTYPE html>
<html>
<head>
	<title>Analysis output</title>
	<meta charset="utf-8"/>
    <link href="{{url_for('static', filename='css/vizStyle.css')}}" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
   	<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   	<link class="main-stylesheet" href="../static/css/floatsocial.css" rel="stylesheet" type="text/css" />
    <link class="main-stylesheet" href="../static/css/custom.css" rel="stylesheet" type="text/css" />
    <link class="main-stylesheet" href="../static/css/custom.css" rel="stylesheet" type="text/css" />
  	<script src="http://kartograph.org/js/jquery.min.js"></script>
  	<script src="http://kartograph.org/js/raphael.min.js"></script>
  	<script src="http://kartograph.org/js/kartograph.min.js"></script>
  	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="http://code.interactjs.io/v1.2.9/interact.min.js"></script>
	<script src="{{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
	<script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  	<script type="text/javascript">
	  function get(id) {
			return document.getElementById(id);
		}
		function openHelp(source){
			get("help").style.display = "block";
		}
		function closeHelp(source) {
			get("help").style.display = "none";
		}
		// target elements with the "draggable" class
		interact('.draggable')
		  .draggable({
		    // enable inertial throwing
		    inertia: true,
		    // keep the element within the area of it's parent
		    restrict: {
		      restriction: "parent",
		      endOnly: true,
		      elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
		    },
		    // enable autoScroll
		    autoScroll: true,

		    // call this function on every dragmove event
		    onmove: dragMoveListener,
		    // call this function on every dragend event
		    onend: function (event) {
		      var textEl = event.target.querySelector('p');

		      textEl && (textEl.textContent =
		        'moved a distance of '
		        + (Math.sqrt(event.dx * event.dx +
		                     event.dy * event.dy)|0) + 'px');
		    }
		  });

		  function dragMoveListener (event) {
		    var target = event.target,
		        // keep the dragged position in the data-x/data-y attributes
		        x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
		        y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

		    // translate the element
		    target.style.webkitTransform =
		    target.style.transform =
		      'translate(' + x + 'px, ' + y + 'px)';

		    // update the posiion attributes
		    target.setAttribute('data-x', x);
		    target.setAttribute('data-y', y);
		  }

		  // this is used later in the resizing and gesture demos
		  window.dragMoveListener = dragMoveListener;
		interact('.resize-drag-outer')
	  .draggable({
	    onmove: window.dragMoveListener
	  })
	  .allowFrom('.resize-drag')
	  .resizable({
	    preserveAspectRatio: true,
	    edges: { left: true, right: true, bottom: true, top: true }
	  })
	  .on('resizemove', function (event) {
	    var target = event.target,
	        x = (parseFloat(target.getAttribute('data-x')) || 0),
	        y = (parseFloat(target.getAttribute('data-y')) || 0);

	    // update the element's style
	    target.style.width  = event.rect.width + 'px';
	    target.style.height = event.rect.height + 'px';

	    // translate when resizing from top or left edges
	    x += event.deltaRect.left;
	    y += event.deltaRect.top;

	    target.style.webkitTransform = target.style.transform =
	        'translate(' + x + 'px,' + y + 'px)';

	    target.setAttribute('data-x', x);
	    target.setAttribute('data-y', y);
	  });

  </script>
	<style>
		body {
			height:100vh;
		}
	</style>

</head>

<style>
* {
 font-size: 100%;
 font-family: Segoe UI;
}
</style>

<script>
		function show1(){
			$('#nlp_modal').modal('show');
			$('#sna_modal').modal('hide');
			$('#gsa_modal').modal('hide');
		}

		function show2(){
			$('#nlp_modal').modal('hide');
			$('#sna_modal').modal('show');
			$('#gsa_modal').modal('hide');
		}

		function show3(){
			$('#nlp_modal').modal('hide');
			$('#sna_modal').modal('hide');
			$('#gsa_modal').modal('show');
		}

		function openurl(link){
				window.open(link);
			}
</script>




<body class="resize-container">
	<!-- dropdown menu
		The buttons will have to become buttons, indeed-->
   <div class="wrapperul" align="center">
	<ul>
		<li class="dropdown">
			<a href="{{url_for('upload', case_num = case_num)}}">Home</a>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn" style = "color:grey;">Cases</a>
			<div class="dropdown-content">
			</div>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn" style = "color:grey;">GSA</a>
			<div class="dropdown-content">
			</div>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn" style = "color:grey;">SNA</a>
			<div class="dropdown-content">
			</div>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn" style = "color:grey;">NLP</a>
			<div class="dropdown-content">
			</div>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn" style = "color:grey;">Stats</a>
			<div class="dropdown-content">
				<!--a href="#">Summary statistics for...</a>
				<a href="#">Export ... as csv</a-->
			</div>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn">View</a>
			<div class="dropdown-content">
				<a onclick="document.getElementById('GSA Visualization Window').style.display='inline-block'">GSA Visualization</a>
				<a onclick="document.getElementById('GSA Data Window').style.display='inline-block'">GSA Data</a>
				<a onclick="document.getElementById('NLP Visualization Window').style.display='inline-block'">NLP Visualization</a>
				<a onclick="document.getElementById('NLP Data Window').style.display='inline-block'">NLP Data</a>
				<a onclick="document.getElementById('SNA Visualization Window').style.display='inline-block'">SNA Visualization</a>
				<a onclick="document.getElementById('SNA Data Window').style.display='inline-block'">SNA Data</a>
			</div>
		</li>
		<li class="dropdown">
			<a href="#" class="dropbtn">Help</a>
			<div class="dropdown-content">
				<a href="#" onClick="openHelp(this)">GSA Output Help</a>
				<a href="{{url_for('help', case_num = case_num)}}">Help Page</a>
			</div>
		</li>
	</ul>
	</div>
	<div id = "help" style = "display: none;">
		<button onClick = "closeHelp(this)">Close Help</button>
		<p><b>Autocorrelation: </b>measures how randomly data is distributed over a space. Global AutoCorrelation is more sensitive to global trends, and smaller clumps of similar data do not affect this analysis method on a large scale. Local AutoCorrelation is more sensitive locally and gives a smaller-scale autocorrelation measure.</p>
		<p><b>Spatial Dynamics: </b>analyzes the evolution of spatial data over time. Here, regions on the map are broken up into several categories, depending on the value of the observation at that location. Using Markov methods, the probability that a region transitions to a different category is generated. Additionally, mean transition times (time for a region to go from category a to category b) are given. In order, the return values are as follows: <br>1. A matrix which counts how many a region from one category to another. Most entries in this matrix are along the diagonal, as regions tend to stay in the same category, and only transition to similar categories. <br>2. The transition probability matrix. <br>3. The steady-state distribution matrix, which indicates the probability of a region ending up in category b, given that it started in category a. <br>4. The mean transition time matrix.</p>
	</div>
<!--<div class="bodywrapper">-->
	{% if research_question %}
	<br>
	<!--Research question: {{ research_question }}-->
	<div style="text-align:center"><b>{{ research_question[0] }}</b>
	<br>
	Authors: {{research_question[1]}}
	<br>
	Published {{research_question[2]}}
	</div><br>
	<br>
	<p style="line-height:30px">{{research_question[3]}}</p>
	<br>
	{% endif %}
	{% if error %}
		Note: If you uploaded shapefiles for GSA analysis and nothing is displayed, then it is possible that the generated map or the provide CSV has characters/letters that our tool cannot understand.
	{% endif %}

	{% if gsaCSV %}
	<div class = "output-window resize-drag-outer" id = "GSA Visualization Window" style = "width: 50%; heigth: 50%">

		<div class = "output-button-bar resize-drag">
			<button class="btn-hide"
			onclick="document.getElementById('GSA Visualization').style.display='none'">hide</button>

			<button class="btn-show"
			onclick="document.getElementById('GSA Visualization').style.display='inline-block'">show</button>

			<button class="btn-close"
			onclick="document.getElementById('GSA Visualization Window').style.display='none'">close</button>
		</div>

		<div class = "output" id = "GSA Visualization">
		<h3><center>GSA Visualization</center></h3>

		{% if GSA_sample %}
			<a href="{{url_for('reg', case_num = case_num)}}">Click here for regionalization visualization</a>
		{% endif %}

		{% if gsaCSV %}
			{% include "kartograph-test.html" %}
		{% endif %}

		</div>
	</div>

	<div class = "output-window resize-drag-outer" id = "GSA Data Window">

		<div class = "output-button-bar resize-drag">
			<button class="btn-hide"
			onclick="document.getElementById('GSA Data').style.display='none'">hide</button>

			<button class="btn-show"
			onclick="document.getElementById('GSA Data').style.display='inline-block'">show</button>

			<button class="btn-close"
			onclick="document.getElementById('GSA Data Window').style.display='none'">close</button>
		</div>

		<div class = "output" id = "GSA Data">
		<h3><center>GSA Data</center></h3>

		{% if GSA_sample %}
			<p id="gsa_year" style="font-weight:bold;">Autocorrelation Statistics:</p>
			<p id = "local_autocorrelation">Local Autocorrelation: {{ auto[0] }}</p>
			<p id = "global_autocorrelation">Global Autocorrelation: {{ auto[1] }}</p><br>

			<p><b>Spatial Dynamics Statistics</b></p>
			<p>Transition Counts:<br> {% for row in sp_dyn[0] %}{{row}}<br>{% endfor %}</p>
			<p>Transition Probabilities:<br> {% for row in sp_dyn[1] %}{{row}}<br>{% endfor %}</p>
			{% if sp_dyn[2] != None %}
			<p>Steady State Distributions:<br> {% for row in sp_dyn[2] %}{{row}}<br>{% endfor %}</p>
			{% endif %}
			<p>Mean Passage Time:<br> {% for row in sp_dyn[3] %}{{row}}<br>{% endfor %}</p>

		{% endif %}

		</div>
<!--	</div> -->


	<br>
	<br>
	{% endif %}

        {% if nlp_summary %}
	<div class = "output-window resize-drag-outer" id = "NLP Visualization Window">

		<div class = "output-button-bar resize-drag">
			<button class="btn-hide"
			onclick="document.getElementById('NLP Visualization').style.display='none'">hide</button>

			<button class="btn-show"
			onclick="document.getElementById('NLP Visualization').style.display='inline-block'">show</button>

			<button class="btn-close"
			onclick="document.getElementById('NLP Visualization Window').style.display='none'">close</button>
		</div>

		<div class = "output" id = "NLP Visualization" >
<div class="wrapper" style="height: 100%;width: 100%;">
                               <h1><center>Natural Language Processing</center></h1>
                                       <div class="tab">
                                               <input id="tab-sum" type="checkbox" name="tabs">
                                               <label for="tab-sum">Corpus Statistics</label>
                                               <div class="tab-content">
                                                       <p>Number of documents analyzed: {{nlp_summary[0]}}<br>
                                                          Total document word count: {{nlp_summary[2]}}<br>
                                                               <center>Document length distribution
                                                               <image src="{{url_for('static', filename='temp/')}}{{ nlp_summary[1] }}" width="90%" height="50%" ></image>
                                                               </center>
                                                       </p>
                                               </div>
                                       </div>
                               {% if nlp_entities %}
                                       <div class="tab">
                                               <input id="tab-one" type="checkbox" name="tabs">
                                               <label for="tab-one">Entity Sentiment</label>
                                               <div class="tab-content">
                                                       <table class="sortable" border="2px">
                                                               <tr>
                                                                       <th>Name</th>
                                                                       <th>Uses</th>
                                                                       <th>Positive</th>
                                                                       <th>Neutral</th>
                                                                       <th>Negative</th>
                                                                       <th><strong>Composite</strong></th>
                                                               </tr>
                                                               {% for entity in nlp_entities %}
                                                               <tr>
                                                                       <td>{{entity[0]}}</td>
                                                                       <td>{{entity[5]}}</td>
                                                                       <td>{{entity[3]}}</td>
                                                                       <td>{{entity[2]}}</td>
                                                                       <td>{{entity[1]}}</td>
                                                                       <td>{{entity[4]}}</td>
                                                               </tr>
                                                               {% endfor -%}
                                                       </table>
                                                       <br/>
                                               </div>
                                       </div>
                               {% endif %}
                               {% if nlp_tropes %}
                                       <div class="tab">
                                               <input id="tab-two" type="checkbox" name="tabs">
                                               <label for="tab-two">Entity Emotions</label>
                                               <div class="tab-content">
                                                       {% for trope in nlp_tropes %}
                                                       <img src="{{url_for('static', filename='temp/')}}{{trope}}" height="40%" width="40%"></image>
                                                       {% endfor -%}
                                               </div>
                                       </div>
                               {% endif %}
                               {% if nlp_actors %}
                                       <div class="tab">
                                               <input id="tab-three" type="checkbox" name="tabs">
                                               <label for="tab-three">Actor Analysis</label>
                                               <div class="tab-content">
                                                       <p>Person to other category table</p>
                                               </div>
                                       </div>
                               {% endif %}
                               {% if nlp_network %}
                                       <div class="tab">
                                               <input id="tab-three" type="checkbox" name="tabs">
                                               <label for="tab-three">Entity Network</label>
                                               <div class="tab-content">
                                                       <p>Jgraph 2D picture with link to SNA</p>
                                               </div>
                                       </div>
                               {% endif %}
                       </div>

		</div>
	</div>
	{% endif %}

	<br>
	<br>

	{% if graph %}
	<div class = "output-window resize-drag-outer" id = "SNA Visualization Window">

		<div class = "output-button-bar resize-drag">
			<button class="btn-hide"
			onclick="document.getElementById('SNA Visualization').style.display='none'">hide</button>

			<button class="btn-show"
			onclick="document.getElementById('SNA Visualization').style.display='inline-block'">show</button>

			<button class="btn-close"
			onclick="document.getElementById('SNA Visualization Window').style.display='none'">close</button>
		</div>

		<div class = "output" id = "SNA Visualization">
		<h3><center>SNA Visualization</center></h3>


			{% if jgdata %}
				<!-- Apparently target="_blank" is a security hazard -->
				<p><a href="{{ url_for('jgvis', case_num=case_num) }}">Click here for SNA visualization</a></p>
			{% endif %}

		</div>
	</div>

	<div class = "output-window resize-drag-outer" id = "SNA Data Window">

		<div class = "output-button-bar resize-drag">
			<button class="btn-hide"
			onclick="document.getElementById('SNA Data').style.display='none'">hide</button>

			<button class="btn-show"
			onclick="document.getElementById('SNA Data').style.display='inline-block'">show</button>

			<button class="btn-close"
			onclick="document.getElementById('SNA Data Window').style.display='none'">close</button>
		</div>

		<div class = "output" id = "SNA Data">
		<h3><center>SNA Data</center></h3>
			{% if SNAbpPlot -%}
				<p>2D Visualization:</p>
				<image src="{{url_for('static', filename='temp/')}}{{ SNAbpPlot }}"></image>
			{% endif -%}

		</div>
	</div>
	{% endif %}

	<br><br><br><br><br>
    
    </div>

    <script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/custom.frontend.js"></script>

	<script>
		function show1(){
			$('#nlp_modal').modal('show');
			$('#sna_modal').modal('hide');
			$('#gsa_modal').modal('hide');
		}

		function show2(){
			$('#nlp_modal').modal('hide');
			$('#sna_modal').modal('show');
			$('#gsa_modal').modal('hide');
		}

		function show3(){
			$('#nlp_modal').modal('hide');
			$('#sna_modal').modal('hide');
			$('#gsa_modal').modal('show');
		}

		function openurl(link){
				window.open(link);
			}
	</script>

<div class="modal fade slide-right" id="nlp_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content-wrapper">
        	<div class="background"></div>
			<div class="modal-content table-block" style="background: rgba(187, 222, 251, .0); border: 0px; background-repeat: no-repeat; background-position: 50% 90%; background-size: 40%;">

				<div style="margin-right: 27px;">
					<button type="button" class="btn btn-danger btn-sm pull-right" data-dismiss="modal"><i class="fa fa-times-circle fa-2x" aria-hidden="true" style="z-index:1000;"></i>
					</button>
				</div>
				<br>
				<div class="modal-body v-align-left text-left">

				<h3 style='color:white'>Natural Language Processing</h3>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Sample Cases</h4>
					</div>
					<div class="panel-body">
						<a href="{{url_for('sample', sample_path = 'NLP/isil', case_num=case_num)}}">Run ISIL case</a><br>
                                                <a href="{{url_for('sample', sample_path = 'NLP/United-States', case_num=case_num)}}">USA Mosul Articles</a>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Data Input</h4>
					</div>
					<div class="panel-body">
						Upload text files (.txt, .rtf):<br>
						<p style = "font-size:10px">(Use Ctrl- or Shift-click to select multiple files)</p>
						<input type = "file" id = "NLP_Input_corpus" name = "NLP_Input_corpus" multiple>
						Enter urls to scrape (comma separated):<br>
						<input type = "text" id = "NLP_LDP_terms" name = "NLP_LDP_terms">
						<hr>
						<input type = "submit" value = "SUBMIT">
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
<!-- /.modal-dialog -->
</div>
</div> <!-- Don't delete this div even though they appear to serve no purpose -->

<div class="modal fade slide-right" id="sna_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
    <div class="background"></div>
       <div class="modal-content table-block" style="background: rgba(187, 222, 251, .0); border: 0px; background-repeat: no-repeat; background-position: 50% 90%; background-size: 40%;">

			<div style="margin-right: 27px;">
				<button type="button" class="btn btn-danger btn-sm pull-right" data-dismiss="modal"><i class="fa fa-times-circle fa-2x" aria-hidden="true" style="z-index:1000;"></i>
				</button>
			</div>
			<br>
            <div class="modal-body v-align-left text-left">
			<h3 style='color:white'>Social Network Analysis</h3>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Sample Cases</a></h4>
					</div>
					<div class="panel-body">
						<a href="{{url_for('sample', sample_path = 'SNA/iran.xlsx', case_num=case_num)}}">Run Iran Political Elite case</a><br>
						<a href="{{url_for('sample', sample_path = 'SNA/AAH_for_SNA.xlsx', case_num=case_num)}}">Run AAH case</a><br>
						<a href="{{url_for('sample', sample_path = 'SNA/roleTheorySample.xlsx', case_num=case_num)}}">Run Role Theory case</a><br>
                                                <a href="{{url_for('sample', sample_path = 'SNA/CaseStudy_Turkey.xlsx', case_num=case_num)}}">Run Turkey case</a><br>
                                                <a href="{{url_for('sample', sample_path = 'SNA/BT_CaseStudy.xlsx', case_num=case_num)}}">Run BT case</a><br>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Data Input</a></h4>
					</div>
					<div class="panel-body">
						<span class="inputsection">
							<br>
							Upload .xlsx file for SNA:<br>
							<input type = "file" id = "SNA_Input" name = "SNA_Input" size = 20 value="a"><br>
							<input type = "submit" value = "SUBMIT">
						</span>
					</div>
				</div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>


<div class="modal fade slide-right" id="gsa_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
    <div class="background"></div>
        <div class="modal-content table-block" style="background: rgba(187, 222, 251, .0); border: 0px; background-repeat: no-repeat; background-position: 50% 90%; background-size: 40%;">

			<div style="margin-right: 27px;">
				<button type="button" class="btn btn-danger btn-sm pull-right" data-dismiss="modal"><i class="fa fa-times-circle fa-2x" aria-hidden="true" style="z-index:1000;"></i></button>
			</div>
			<br>
            <div class="modal-body v-align-left text-left">
				<h3 style='color:white'>Geospatial Analysis</h3>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Sample Cases</h4>
					</div>
					<div class="panel-body">
						<a href="{{url_for('sample', sample_path = 'GSA/usjoin.csv/us48.shp', case_num=case_num)}}">Run United States Income case</a><br>
						<a href="{{url_for('static', filename = 'sample/GSA/template.csv', case_num=case_num)}}" download>Download Template</a>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Data Input</h4>
					</div>
					<div class="panel-body">
						Upload .csv file for GSA:<br>
						<input type = "file" id = "GSA_Input_CSV" name = "GSA_Input_CSV" size = 20><br>
						Upload 3 files (.shp, .shx, .dfb) for GSA:<br>
						<input type = "file" id = "GSA_Input_map" name = "GSA_Input_map" size = 20 multiple><br>
						<input type = "submit" value = "SUBMIT">
					</div>
				</div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>


</body>








</html>
