<!DOCTYPE html>

<html>

<head>
	<title>Edge select</title>

	<style type="text/css">

	</style>



</head>

<body>
<img id = "banner" src = "../static/GAT_header_1-9.jpg" style = "width:100%;" alt = "Banner Image"/> <br>

<h3>Please choose which relationships you would like to include in your network:</h3>

<form enctype = "multipart/form-data" method = "post">

	{% for combo in combos %}

		<label><input type = "checkbox" name = "{{ combo[2] }}">{{ combo[2] }}</label><br>

	{% endfor %}

	<input type = "submit" value = "SUBMIT">

</form>

</body>







</html>