{% if graph %}
    <div class="output-window resize-drag-outer" id="SNA Visualization Window">
        <div class="output-button-bar resize-drag">
            <span class="left-span">
            <i class="btn btn-close fa fa-window-close-o"
                       onclick="document.getElementById('SNA Visualization Window').style.display='none'"></i>

            <i class="btn btn-hide fa fa-window-minimize"
                       onclick="handleWindowResizeClick('SNA Visualization',this)"></i>
            </span>
            <span class="right-span"><b>SNA Visualization</b></span>
        </div>
        <div class="output" id="SNA Visualization">
            {% if jgdata %}
            <p><a href="{{ url_for('sna_blueprint.jgvis') }}" style="color:lightblue">Click here for
                3D visualization</a></p>
            {% if SNAbpPlot -%}
            <p>2D Visualization:</p>
            <image src="{{url_for('out_blueprint.custom_static', filename='sna/' + SNAbpPlot )}}"></image>
            {% endif -%}
            {% endif %}
        </div>
    </div>
    <div class="output-window resize-drag-outer" id="SNA Data Window">
        <div class="output-button-bar resize-drag">
            <span class="left-span">
            <i class="btn btn-close fa fa-window-close-o"
                       onclick="document.getElementById('SNA Data Window').style.display='none'"></i>

            <i class="btn btn-hide fa fa-window-minimize"
                       onclick="handleWindowResizeClick('SNA Data',this)"></i>
            </span>
            <span class="right-span"><b>SNA Data</b></span>
        </div>
        <div class="output" id="SNA Data">
            {% if systemMeasures -%}
                <h4>System Measures</h4>
                {% for measure in systemMeasures -%}
                    {% if measure not in ['Description','Resilience','Robustness','Baseline'] -%}
                        <p>
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" title="{{systemMeasures['Description'][measure]}}"></i>
                            {{measure}}: {{systemMeasures[measure]}}
                        </p>
                    {% endif -%}
                {% endfor -%}
            {% endif -%}
            <div id="resilienceInfo">
                {% if systemMeasures.get("Baseline") == None -%}
                    <form id="resilienceForm" enctype="multipart/form-data" method="post">
                        <input id="resilience" onclick="handleResilienceClick()" name="resilienceSubmit" type="submit"
                               value="Calculate Resilience" href="javascript:void(0)" data-toggle="tooltip"
                               data-placement="left" title="{{systemMeasures['Description']['Resilience']}}">
                    </form>
                    {% else -%}
                    <p>
                      <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" title="{{systemMeasures['Description']['Resilience']}}"></i>
                      <span>Resilience:</span>
                    </p>
                    <svg width="0px">
                      <defs>
                        <linearGradient id="gradient">
                          <stop offset="5%" stop-color="red" />
                          <stop offset="95%" stop-color="blue" />
                        </linearGradient>
                      </defs>
                    </svg>
                    <script type="text/javascript" src="../static/js/resilience.js"></script>
                    <script type="text/javascript">
                      drawSVG({{systemMeasures|tojson}})
                    </script>
                {% endif -%}
            </div>
        </div>
    </div>
{% endif %}
